<h1 style="text-align: center;">Update Contact</h1>

<form [formGroup]="updateForm">
    <mat-label style="font-weight:bolder" class="label-header">First Name</mat-label>
    <input 
        class="form-control mt-2 input" 
        matInput 
        formControlName="firstName" 
        type="text" 
        placeholder="Enter First Name">
    
    <mat-label style="font-weight:bolder" class="label-header">Last Name</mat-label>
    <input 
        class="form-control mt-2 input" 
        matInput 
        formControlName="lastName" 
        type="text" 
        placeholder="Enter Last Name">
    
    <mat-label style="font-weight:bolder" class="label-header">Email</mat-label>
    <input 
        class="form-control mt-2 input" 
        matInput 
        formControlName="email" 
        type="email" 
        placeholder="Enter Email">
</form>

<button 
    class="btn btn-primary" 
    style="margin-top: 20px;" 
    (click)="updateContact()">
    Update
</button>
<button 
    class="btn btn-danger" 
    style="margin-top: 20px;margin-left: 10px;" 
    (click)="cancelUpdate()">
    Cancel
</button>
